<div>
    <MudStack AlignItems="AlignItems.Center"
              Justify="Justify.SpaceBetween"
              Row>
        <TextWithIcon Text="@Title" Icon="@Icon"/>
        <MudText>@_percentage%</MudText>
    </MudStack>

    <MudProgressLinear Class="mt-1"
                       Color="Color.Primary"
                       Max="100"
                       Value="@_percentage"/>
</div>

@code {

    [Parameter] public required string Title { get; set; }

    [Parameter] public required string Icon { get; set; }

    [Parameter] public required double Value
    {
        get => _value;
        set
        {
            _value = value;
            _percentage = (int)(_value * 100);
        }
    }

    private double _value;
    private int _percentage;

}