<div>
    <MudStack AlignItems="AlignItems.Center"
              Justify="Justify.SpaceBetween"
              Row>
        <TextWithIcon Icon="@Icon"
                      Text="@Title"/>
        <MudText>@_percentage%</MudText>
    </MudStack>

    <MudProgressLinear Class="mt-1"
                       Color="Color.Primary"
                       Max="100"
                       Rounded
                       Value="@_percentage"/>
</div>

@code {

    [Parameter] public required string Title { get; set; }

    [Parameter] public required string Icon { get; set; }

    [Parameter] public required double Value { get; set; }

    private int _percentage;

    protected override void OnParametersSet()
    {
        _percentage = (int)(Value * 100);
    }

}